@page
@{
    ViewData["Title"] = "Markdown TagHelper";
}
<h2>@ViewData["Title"].</h2>
<h4>Source:</h4>
<pre>
<!gravatar email="hishamco_2007@yahoo.com" />

</pre>

<h4>Result:</h4>
<gravatar email="hishamco_2007@yahoo.com" />