@page
@{
    ViewData["Title"] = "Markdown TagHelper";
}
<h2>@ViewData["Title"].</h2>

<h4>Makrdown Tag</h4>
<markdown>It's very easy to make some words **bold** and other words *italic* with Markdown. You can even [link to Google!](http://google.com)</markdown>

<h4>Makrdown Attribute</h4>
<p markdown>It's very easy to make some words **bold** and other words *italic* with Markdown. You can even [link to Google!](http://google.com)</p>