@page
@{
    ViewData["Title"] = "TagHelpers";
}
<h2>@ViewData["Title"].</h2>

<ul>
    <li><a asp-page="/TagHelpers/PartialTagHelper">Partial TagHelper</a></li>
    <li><a asp-page="/TagHelpers/MarkdownTagHelper">Markdown TagHelper</a></li>
</ul>
